.headingdiv {
    background-color: rgba(35, 38, 67, 0.8);
  }
  .heading {
    width: 350px;
    height: 80px;
    object-fit: fill;
  }
  .scroll{
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    margin-left:34%;
    margin-right: 34%;
    padding:0px 0px 20px 20px;
    background-color: #1f4ebe;
    color: white;
  }
  .scroll-to-continue{
    font-size:30px;
    font-weight: bold;
  }
  .scroll-gif{
    height:50px;
    width:35px;
  }
  .timer-getlink{
    border-radius: 10px;
    margin-left:42%;
  }
  .getlink{
    height:50px;
    width:200px;
    font-size: 25px;
    border-radius: 15px;
    background-color:  #f5bd1f;
  }
  .getlink:hover{
    cursor:pointer;
  }
  #countdown{
    font-size:25px;
    border-width: 2px;
    border-style: solid;
    border-radius: 40px;
    background-color: cyan;
    margin-left:8%;
    margin-right: 82%;
    padding: 5px 15px 5px 22px ;
  }
  #getlink-1,#getlink-2{
    display: none;
    padding: 5px 15px 5px 12px ;
  }
#countdown{
  display: none;
  margin-bottom: 10px;
}
#timeleftt{
  display: none;
  font-size:20px;
  margin-left: 7%;
}
@media only screen and (max-width:430px){
  .heading {
    width: 100%;
  }
  .scroll{
    margin-left:5px;
    margin-right: 5px;
    padding: 0px 0px 10px 10px;
  }
  .scroll-to-continue{
    font-size: 25px;
    margin-left: 10%;
  }
  .scroll-gif{
    height:30px;
    width:25px;
  }
.getlink{
  height: 50px;
  width: 200px;
}
.timer-getlink{
  margin-left: 25%;
}
#countdown{
  font-size: 20px;
  margin-left: 20%;
  margin-right: 55%;
  padding-left: 23px;
}
#timeleftt{
  margin-left:15% ;
}
.getlink{
  font-size:18px;
  border-radius: 15px;
  background-color:  #f5bd1f;
}
}
@media only screen and (max-width:300px){
  .scroll-to-continue{
    font-size: 15px;
  }
}
@media only screen and (max-width:285px){
  .timer-getlink{
    margin-left: 20%;
  }
  .getlink{
    margin-left: 0%;
  }
  #timeleftt{
    margin-left: 15%;
  }
  #countdown{
    padding-left: 12px;
    margin-left: 25%;
    margin-right: 50%;
  }
}
