.headingdiv {
    background-color: rgba(35, 38, 67, 0.8);
  }
  .heading {
    width: 350px;
    height: 80px;
    object-fit: fill;
  }
  .container{
    padding:0px 20px 0px 20px;
    float:left;
  }
  h1{
    display: none;
  }
  .main-head-info{
    margin-top: 0px;
    font-size: 30px;
  }
  .epi-img{
    float:left;
    padding:10px 10px 10px 10px;
  }

  .heading-anime{
    font-size: 60px;
    margin-left: 5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .main-head-info{
    padding: 10px 20px 10px 20px;
  }
  .epi{
    padding: 10px 10px  10px 10px;
  }

  .epi-name{
    font-size:21px;
    margin-left: 250px;
    color: #2c55b5;
  }
  .epi-des{
    margin-right:250px;
    margin-left: 130px;
  }
  .scroll{
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    margin-left:34%;
    margin-right: 34%;
    padding:0px 0px 20px 20px;
    background-color: #1f4ebe;
    color: white;
  }
  .scroll-to-continue{
    font-size:30px;
    font-weight: bold;
  }
  .scroll-gif{
    height:50px;
    width:35px;
  }
  .continue-button{
    height: 120px;
    width: 250px;
    margin-left: 40%;
    margin-right: 35%;
  }
  .epi-des-mobile{
    display: none;
  }
  @media only screen and (max-width:430px){
    .heading {
      width: 100%;
    }
    .epi-name-mobile{
      text-align: center;
    }
    h1{
      display:block;
      text-align: center;
    }
    .heading-anime{
      display: none;
    }
    .main-head-info{
      font-size: 22px;
      margin-left: 20%;
    }
    .epi-img{
      margin-left: 15%;
      margin-right: 10%;
      float: none;
    }
    .epi-des{
      display: none;
    }
    .epi-des-mobile{
      display:block;
      padding-bottom: 20px;
    }
    .epi-name-mobile{
      font-size:25px;
      text-align: center;
      color: #2c55b5;
      margin-top: 0px;
    }
    .epi-des-1-mobile{
      margin-left: 10px;
      font-size: 15px;
    }
    .scroll{
      margin-left:5px;
      margin-right: 5px;
      padding: 0px 0px 10px 10px;
    }
    .scroll-to-continue{
      font-size: 20px;
      margin-left: 10%;
    }
    .scroll-gif{
      height:30px;
      width:25px;
    }
    .continue-button{
      height:100px;
      width: 250px;
      margin-left: 19%;
    }
  }

  